.App {
  text-align: center;
}

h2 {
  text-align:center;
}

h4 {
  text-align:center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.NavBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.center {
  text-align:center
}

p {
  font-size: 1.1em;
}

.ui.container {
  align:center;
  margin:0px, 20px;
}

#material_cards .ui.cards {
  align:center;
  margin:0px, 0px
}

.ui.card>content.extra,
.ui.card>.card>.content.extra {
  background-color: 243,244,245;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */
